.container {
  overflow-x: hidden;
  position: absolute;
  width: 1280px;
  height: 720px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1279px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }
}

.bg {
  position: fixed;
  left: 50%;
  margin-left: -640px;
}

.sprite {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.first-sprite {
  left: 70%;
}
.second-sprite {
  left: 30%;
}

.text-box {
  position: absolute;
  bottom: 20px;
  margin: auto;
  left: 50%;
  z-index: 2;
  padding: 0px 20px;
  border-radius: 10px;
  color: black;
  transform: translate(-50%, 0);
  background-color: rgba(250, 250, 250, 0.9);
  background-image: linear-gradient(#61d1d1 1px, transparent 1px);
  background-size: 100% 33.33%;
  width: 880px;
  height: 130px;
}

/* 1100px for smooth transition from 880px to 80% width */
@media only screen and (max-width: 1100px) {
  .text-box {
    width: 80%;
  }
}

.text {
  margin-top: 6px;
  font-size: 22px;
  line-height: 1.95;
}

@media only screen and (max-width: 768px) {
  .text {
    margin-top: 5px;
    font-size: 20px;
    line-height: 1.72;
  }
  .text-box {
    background-size: 100% 25%;
    height: 140px;
  }
  .speaker {
    bottom: 139px;
  }
}

.speaker {
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4c9ea9, #429494);
  border-radius: 30px;
  position: absolute;
  bottom: 129px;
  color: white;
  text-align: center;
  padding-top: 8px;
  margin-left: -35px;
  width: 290px;
  height: 38px;
  font-size: 28px;
  z-index: 3;
}

@media only screen and (max-width: 768px) {
  .speaker {
    bottom: 139px;
  }
}

/* Speaker box's bottom arrow */
.speaker:before {
  content: "";
  position: absolute;
  right: 230px;
  top: 45px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-top: 13px solid #4c9ea9;
  border-right: 11px solid transparent;
}

/* React CSS Transition Groups animations*/

/* Sprite animations*/
.sprite-enter {
  opacity: 0;
}

.sprite-enter.sprite-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.sprite-leave {
  opacity: 1;
}

.sprite-leave.sprite-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* BG & textbox animations for scenery change */
.scene-enter {
  opacity: 0;
}

.scene-enter.scene-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.scene-leave {
  opacity: 1;
}

.scene-leave.scene-leave-active {
  opacity: 0;
  transition: opacity 1700ms ease-in;
}

/* menu transitions */
.menu-enter {
  opacity: 0;
}

.menu-enter.menu-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.menu-leave {
  opacity: 1;
}

.menu-leave.menu-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.overlay-choices {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay .choice-button {
  font-size: 26px;
  width: 750px;
  margin: 30px auto;
  border-radius: 25px;
  background-color: #1d75a5;
  border: none;
  color: white;
  padding: 12px 0px;
  cursor: pointer;
  display: block;
}

@media only screen and (max-width: 833px) {
  .overlay .choice-button {
    padding: 10px 0px;
    font-size: 20px;
    width: 90%;
  }
}

/* Add a background color on hover */
.overlay .choice-button:hover {
  background-color: white;
  color: #1d75a5;
}

.backlog-overlay {
  overflow: auto;
  margin: auto;
  height: 95%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.backlog {
  box-sizing: border-box;
  background-color: #eee;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#ddd 2px, transparent 2px);
  background-size: 100% 33.33%;
  font-size: 22px;
  width: 100%;
  height: 104px;
  padding-top: 3px;
  line-height: 1.52;
  padding-left: 93px;
}

@media only screen and (max-width: 768px) {
  .backlog {
    background-image: linear-gradient(
        90deg,
        transparent 45px,
        #abced4 45px,
        #abced4 47px,
        transparent 47px
      ),
      linear-gradient(#ddd 2px, transparent 2px); /* shifts blue line margin to left */
    padding-left: 59px;
    font-size: 18px;
    padding-top: 2px;
    line-height: 1.45;
    background-size: 100% 25%;
  }
}

.backlog-speaker {
  font-weight: 500;
  color: DarkGreen;
}

.menu-buttons-container {
  z-index: -1;
  overflow: visible;
}

.menu-buttons {
  position: relative;
  top: 740px;
  width: 100%;
  float: left;
}

.menu-buttons button {
  /* credit source https://codepen.io/tmrDevelops/full/VeRvKX/ */
  border: solid 2px #41403e; /* can substitute for others */
  -ms-flex-item-align: center;
  align-self: center;
  background: transparent;
  padding: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 24px;
  letter-spacing: 1px;
  outline: none;
  -webkit-box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
  Above is shorthand for:
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  */
  margin-right: 15px;
  cursor: pointer;
}

.menu-buttons button:hover {
  background-color: #1b9878;
  /* For hidden button to appear from transparent */
  -webkit-box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  color: #fdfdfd; /* same as bg color */
  border: solid 2px #41403e;
}

@media only screen and (max-width: 1100px) {
  .menu-buttons button {
    font-size: 18px;
    padding: 8px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .menu-buttons button {
    float: none;
    font-size: 16px;
    padding: 6px;
    margin-top: 10px;
  }
}

.menu-buttons button:last-child {
  margin-right: 0; /* for symmetry; prevents rightmost button margin*/
}

/* toggle menu button */
.shown-button {
  float: right;
}

/*  toggle menu button */
.hidden button {
  margin-left: 15px;
  float: right;
  background-color: transparent;
  color: transparent;
  border: solid 2px transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Save and Load menus */

.overlay-menu {
  background-color: #107896;
  z-index: 5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1279px) {
  .overlay-menu {
    overflow: auto;
  }
}

.menu-slot {
  position: relative;
  box-shadow: 0px 2px 3px 2px #222;
  background: #333;
  width: 100%;
  height: 215px;
  border: 0.1px solid transparent;
  cursor: pointer;
}

.menu-slot:hover {
  box-shadow: 0px 4px 5px 3px #222;
}

#menu-type-slot {
  cursor: auto;
}
.empty-menu-slot {
  background: rgba(51, 51, 51, 0.9);
}

.slot-bg {
  position: absolute;
  width: 100%;
  height: 168.75px;
}

.slot-text-box {
  width: 80%;
  height: 50px;
  bottom: 55px;
  padding: 0 0px 0 5px;
}

.slot-text {
  height: 24px;
  width: 90%;
  height: 40px;
  font-size: 12px;
  margin-top: 2px;
  line-height: 1.35;
}

.slot-speaker {
  margin-left: -10px;
  top: -26px;
  padding-top: 3px;
  height: 23px;
  width: 110px;
  font-size: 16px;
}

.slot-speaker:before {
  content: "";

  right: 80px;
  top: 26px;

  border-left: 4px solid transparent;
  border-top: 5px solid #4c9ea9;
  border-right: 4px solid transparent;
}

.slot-sprite {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 168.75px;
}

.slot-date {
  font-size: 16px;
  margin-top: 172px;
  padding: 0 10px;
  text-align: center;
  color: white;
}

.menu-slot-container {
  float: left;
  width: 300px;
  margin: 20px 10px 0;
}

#save-load-logo {
  text-align: center;
  color: white;
  font-size: 46px;
  position: absolute; /* 2 */
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#leave-menu-button {
  position: absolute; /* 2 */
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -90%);
  padding: 10px 16px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0096cc;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px #007099;
}

#leave-menu-button:hover {
  background-color: #007099;
  transform: translate(-50%, -100%);
}
