.container {
  overflow-x: hidden;
  position: absolute;
  width: 1280px;
  height: 720px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media only screen and (max-width: 1279px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }
}

.header {
  list-style-type: none;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.header li {
  display: inline-block;
}

.header a {
  font-size: 36px;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 22px;
  text-decoration: none;
}

.exit-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.exit-button a {
  transition: 300ms;
  cursor: pointer;
}

.exit-button a:hover {
  background: #e61919;
}

.bg {
  position: fixed;
  left: 50%;
  margin-left: -640px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4ea6ca;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
