.overlay-save-load {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 5;
}
@media only screen and (max-width: 1279px) {
  .overlay-save-load {
    overflow: auto;
  }
}

.save-load-slot {
  overflow: hidden;
  min-width: 1280px;
  min-height: 720px;
  transform: translateY(-80px) scale(0.625);
  background: #333;
  cursor: pointer;
  box-shadow: 0px 2px 3px 2px #222;
}

@media only screen and (max-width: 880px) {
  .save-load-slot {
    transform: translateY(-80px) scale(0.45);
  }
}

@media only screen and (max-width: 600px) {
  .save-load-slot {
    transform: translateY(-80px) scale(0.275);
  }
}

.save-load-slot:hover {
  box-shadow: 0px 4px 5px 3px #222;
}

.overlay-choices-slot {
  z-index: 9;
  width: 1280px;
  height: 720px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.save-load-slot > a {
  display: flex;
  justify-content: center;
  transform: translate(0);
}

.slot-date {
  position: absolute;
  bottom: 110px;
  text-align: center;
  width: 100%;
  font-size: 26px;
  color: white;
}

.save-load-buttons {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  bottom: 50px;
  width: 100%;
  height: 40px;
}

.save-load-btn {
  padding: 10px 16px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0096cc;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px #007099;
}

.save-load-btn:hover {
  background-color: #007099;
  transform: translateY(-4px);
}
