.sprite-center {
	display: flex;
	justify-content: center;
}

.sprite {
	position: absolute;
	bottom: 0;
	margin: auto;
	z-index: 1;
}

.left {
	transform: translateX(-350px);
}
.right {
	transform: translateX(350px);
}
