/* React CSS Transition Groups animations*/

/* Sprite animations*/
.sprite-enter {
  opacity: 0;
}

.sprite-enter.sprite-enter-active {
  opacity: 1;
  transition: opacity 250ms linear;
}

.sprite-leave {
  opacity: 1;
}

.sprite-leave.sprite-leave-active {
  opacity: 0;
  transition: opacity 250ms linear;
}

.slide-left-enter {
  opacity: 0;
  transition: transform 1000ms ease-in-out, opacity 500ms ease-in-out;
  transform: translate(0, 0);
}
.slide-left-enter-active {
  opacity: 1;
  transform: translate(-350px, 0);
}

.slide-left-leave {
  opacity: 1;
  transition: transform 1000ms ease-in-out, opacity 500ms ease-in-out;
  transform: translate(0, 0);
}
.slide-left-leave-active {
  opacity: 0;
  transform: translate(-350px, 0);
}

.slide-right-enter {
  opacity: 0;
  transition: transform 1000ms ease-in-out, opacity 500ms ease-in-out;
  transform: translate(0, 0);
}
.slide-right-enter-active {
  opacity: 1;
  transform: translate(350px, 0);
}

.slide-right-leave {
  opacity: 1;
  transition: transform 1000ms ease-in-out, opacity 500ms ease-in-out;
  transform: translate(0, 0);
}
.slide-right-leave-active {
  opacity: 0;
  transform: translate(350px, 0);
}

.bounce-enter {
  opacity: 0;
  animation: bounce 0.4s;
  transition: opacity 250ms ease-in-out;
}
.bounce-enter-active {
  opacity: 1;
}

.bounce-leave {
  opacity: 1;
  animation: bounce 0.4s;
  transition: opacity 250ms ease-in-out;
}
.bounce-leave-active {
  opacity: 0;
}

.bounce {
  animation: bounce 0.4s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

/* BG & textbox animations for scenery change */
.scene-enter {
  opacity: 0;
}

.scene-enter.scene-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.scene-leave {
  opacity: 1;
}

.scene-leave.scene-leave-active {
  opacity: 0;
  transition: opacity 1700ms ease-in;
}

/* menu transitions */
.menu-enter {
  opacity: 0;
}

.menu-enter.menu-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.menu-leave {
  opacity: 1;
}

.menu-leave.menu-leave-active {
  opacity: 0;
  transition: opacity 600ms ease-in;
}
