/* React CSS Transition Groups animations*/

.sprite-enter {
  opacity: 0;
}

.sprite-enter.sprite-enter-active {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.sprite-leave {
  opacity: 1;
}

.sprite-leave.sprite-leave-active {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.move-left-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(350px, 0);
}
.move-left-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.move-left-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.move-left-leave-active {
  opacity: 0;
  transform: translate(-350px, 0);
}

.move-left-far-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(700px, 0);
}
.move-left-far-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.move-left-far-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.move-left-far-leave-active {
  opacity: 0;
  transform: translate(-700px, 0);
}

.move-right-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(-350px, 0);
}
.move-right-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.move-right-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.move-right-leave-active {
  opacity: 0;
  transform: translate(350px, 0);
}

.move-right-far-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(-700px, 0);
}
.move-right-far-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.move-right-far-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.move-right-far-leave-active {
  opacity: 0;
  transform: translate(700px, 0);
}

.from-left-leave-right-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(-200px, 0);
}
.from-left-leave-right-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.from-left-leave-right-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.from-left-leave-right-leave-active {
  opacity: 0;
  transform: translate(200px, 0);
}

.from-right-leave-left-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(200px, 0);
}
.from-right-leave-left-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.from-right-leave-left-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.from-right-leave-left-leave-active {
  opacity: 0;
  transform: translate(-200px, 0);
}

.scene-change-enter {
  opacity: 0;
}

.scene-change-enter.scene-change-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-out;
}

.scene-change-leave {
  opacity: 1;
}

.scene-change-leave.scene-change-leave-active {
  opacity: 0;
  transition: opacity 2000ms ease-in;
}

.menu-enter {
  opacity: 0;
}

.menu-enter.menu-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.menu-leave {
  opacity: 1;
}

.menu-leave.menu-leave-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
}
