/* React CSS Transition Groups animations*/

.sprite-enter {
  opacity: 0;
}

.sprite-enter.sprite-enter-active {
  opacity: 1;
  transition: opacity 250ms linear;
}

.sprite-leave {
  opacity: 1;
}

.sprite-leave.sprite-leave-active {
  opacity: 0;
  transition: opacity 250ms linear;
}

.to-left-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(350px, 0);
}
.to-left-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.to-left-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.to-left-leave-active {
  opacity: 0;
  transform: translate(-350px, 0);
}

.to-left-far-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(700px, 0);
}
.to-left-far-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.to-left-far-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.to-left-far-leave-active {
  opacity: 0;
  transform: translate(-700px, 0);
}

.to-right-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(-350px, 0);
}
.to-right-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.to-right-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.to-right-leave-active {
  opacity: 0;
  transform: translate(350px, 0);
}

.to-right-far-enter {
  opacity: 0;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-out;
  transform: translate(-700px, 0);
}
.to-right-far-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.to-right-far-leave {
  opacity: 1;
  transition: transform 1200ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.to-right-far-leave-active {
  opacity: 0;
  transform: translate(700px, 0);
}

.from-left-enter {
  opacity: 0;
  transition: transform 800ms ease-in-out, opacity 400ms ease-out;
  transform: translate(-200px, 0);
}
.from-left-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.from-left-leave {
  opacity: 1;
  transition: transform 800ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.from-left-leave-active {
  opacity: 0;
  transform: translate(200px, 0);
}

.from-right-enter {
  opacity: 0;
  transition: transform 800ms ease-in-out, opacity 400ms ease-out;
  transform: translate(200px, 0);
}
.from-right-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.from-right-leave {
  opacity: 1;
  transition: transform 800ms ease-in-out, opacity 400ms ease-in;
  transform: translate(0, 0);
}
.from-right-leave-active {
  opacity: 0;
  transform: translate(-200px, 0);
}

.bounce-enter {
  opacity: 0;
  animation: bounce 0.4s;
  transition: opacity 250ms ease-in-out;
}
.bounce-enter-active {
  opacity: 1;
}

.bounce-leave {
  opacity: 1;
  animation: bounce 0.4s;
  transition: opacity 250ms ease-in-out;
}
.bounce-leave-active {
  opacity: 0;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

.shake-enter {
  opacity: 0;
  animation: shake 0.7s;
  transition: opacity 250ms ease-in-out;
}
.shake-enter-active {
  opacity: 1;
}

.shake-leave {
  opacity: 1;
  animation: shake 0.7s;
  transition: opacity 250ms ease-in-out;
}
.shake-leave-active {
  opacity: 0;
}

@keyframes shake {
  20%,
  80% {
    transform: translateX(4px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-8px);
  }

  40%,
  60% {
    transform: translateX(8px);
  }
}

.scene-change-enter {
  opacity: 0;
}

.scene-change-enter.scene-change-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.scene-change-leave {
  opacity: 1;
}

.scene-change-leave.scene-change-leave-active {
  opacity: 0;
  transition: opacity 1700ms ease-in;
}

.menu-enter {
  opacity: 0;
}

.menu-enter.menu-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.menu-leave {
  opacity: 1;
}

.menu-leave.menu-leave-active {
  opacity: 0;
  transition: opacity 600ms ease-in;
}
