.container {
  position: absolute;
  width: 1280px;
  height: 720px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }
}

.bg {
  position: fixed;
  left: 50%;
  margin-left: -640px;
}

.sprite {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.text-box {
  position: absolute;
  bottom: 20px;
  margin: auto;
  left: 50%;
  z-index: 2;
  padding: 0px 20px;
  border-radius: 10px;
  color: black;
  transform: translate(-50%, 0);
  background-color: rgba(250, 250, 250, 0.9);
  background-image: linear-gradient(#61d1d1 1px, transparent 1px);
  background-size: 100% 33.33%;
  width: 920px;
  height: 140px;
}

/* 1150px for smooth transition from 920px to 80% width */
@media only screen and (max-width: 1150px) {
  .text-box {
    width: 80%;
  }
}

.text {
  margin-top: 6px;
  font-size: 24px;
  line-height: 1.95;
}

@media only screen and (max-width: 768px) {
  .text {
    font-size: 20px;
    line-height: 2.1;
  }
}

.speaker {
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4c9ea9, #429494);
  border-radius: 30px;
  position: absolute;
  bottom: 139px;
  color: white;
  text-align: center;
  padding-top: 8px;
  margin-left: -35px;
  width: 290px;
  height: 38px;
  font-size: 28px;
  z-index: 3;
  overflow: hidden;
}

/* Speaker box's bottom arrow */
.speaker:before {
  content: "";
  position: absolute;
  right: 230px;
  top: 45px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-top: 15px solid #4c9ea9;
  border-right: 13px solid transparent;
}

/* React CSS Transition Groups animations*/

/* Sprite animations*/
.sprite-enter {
  opacity: 0;
}

.sprite-enter.sprite-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.sprite-leave {
  opacity: 1;
}

.sprite-leave.sprite-leave-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

/* BG & textbox animations for scenery change */
.scene-enter {
  opacity: 0;
}

.scene-enter.scene-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.scene-leave {
  opacity: 1;
}

.scene-leave.scene-leave-active {
  opacity: 0;
  transition: opacity 1700ms ease-in;
}

/* menu transitions */
.menu-enter {
  opacity: 0;
}

.menu-enter.menu-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.menu-leave {
  opacity: 1;
}

.menu-leave.menu-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

/* general overlay for choices, backlog, and saveLoadMenu */
.overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.overlay-choices {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay .choice-button {
  font-size: 26px;
  width: 750px;
  margin: 30px auto;
  border-radius: 25px;
  background-color: #222;
  border: none;
  color: white;
  padding: 12px 0px;
  cursor: pointer;
  display: block;
}

@media only screen and (max-width: 833px) {
  .overlay .choice-button {
    padding: 10px 0px;
    font-size: 20px;
    width: 90%;
  }
}

/* Add a background color on hover */
.overlay .choice-button:hover {
  background-color: white;
  color: #222;
}

.backlog-overlay {
  overflow: auto;
  margin: auto;
  height: 95%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.backlog {
  box-sizing: border-box;
  background-color: #eee;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#ddd 2px, transparent 2px);
  background-size: 100% 33.33%;
  font-size: 22px;
  width: 100%;
  height: 104px;
  padding-top: 3px;
  line-height: 1.52;
  padding-left: 93px;
}

@media only screen and (max-width: 768px) {
  .backlog {
    background-image: linear-gradient(
        90deg,
        transparent 45px,
        #abced4 45px,
        #abced4 47px,
        transparent 47px
      ),
      linear-gradient(#ddd 2px, transparent 2px); /* shifts blue line margin to left */
    padding-left: 59px;
    font-size: 18px;
    padding-top: 2px;
    line-height: 1.45;
    background-size: 100% 25%;
  }
}

.backlog-speaker {
  font-weight: 500;
  color: DarkGreen;
}

.menu-buttons {
  position: relative;
  top: 740px;
  width: 100%;
  float: left;
}

.menu-buttons button {
  /* credit source https://codepen.io/tmrDevelops/full/VeRvKX/ */
  border: solid 2px #41403e; /* can substitute for others */
  -ms-flex-item-align: center;
  align-self: center;
  background: transparent;
  padding: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 24px;
  letter-spacing: 1px;
  outline: none;
  -webkit-box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
  Above is shorthand for:
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  */
  margin-right: 15px;
  cursor: pointer;
}

.menu-buttons button:hover {
  background-color: #1b9878;
  /* For hidden button to appear from transparent */
  -webkit-box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  color: #fdfdfd; /* same as bg color */
  border: solid 2px #41403e;
}

@media only screen and (max-width: 1000px) {
  .menu-buttons button {
    font-size: 18px;
    padding: 8px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 780px) {
  .menu-buttons button {
    float: none;
    font-size: 16px;
    padding: 6px;
    margin-top: 10px;
  }
}

.menu-buttons button:last-child {
  margin-right: 0; /* for symmetry; prevents rightmost button margin*/
}

/* Forces menu toggle button to the right  */
.shown-button {
  float: right;
}
/* toggle button transparent when not hovered and has a not shown state  */
.hidden button {
  float: right;
  background-color: transparent;
  color: transparent;
  border: solid 2px transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

