.container {
  position: absolute;
  width: 1280px;
  height: 720px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }
}

.bg {
  position: fixed;
  left: 50%;
  margin-left: -640px;
}

.sprite {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.text-box {
  position: absolute;
  bottom: 20px;
  margin: auto;
  left: 50%;
  z-index: 2;
  padding: 0px 20px;
  border-radius: 10px;
  color: black;
  transform: translate(-50%, 0);
  background-color: rgba(250, 250, 250, 0.9);
  background-image: linear-gradient(#61d1d1 1px, transparent 1px);
  background-size: 100% 33.33%;
  width: 920px;
  height: 140px;
}

/* 1150px for smooth transition from 920px to 80% width */
@media only screen and (max-width: 1150px) {
  .text-box {
    width: 80%;
  }
}

.text {
  margin-top: 6px;
  font-size: 24px;
  line-height: 1.95;
}

@media only screen and (max-width: 768px) {
  .text {
    font-size: 20px;
    line-height: 2.1;
  }
}

.speaker {
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4c9ea9, #429494);
  border-radius: 30px;
  position: absolute;
  bottom: 139px;
  color: white;
  text-align: center;
  padding-top: 8px;
  margin-left: -35px;
  width: 290px;
  height: 38px;
  font-size: 26px;
  z-index: 3;
}

/* Speaker box's bottom arrow */
.speaker:before {
  content: "";
  position: absolute;
  right: 230px;
  top: 45px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-top: 15px solid #4c9ea9;
  border-right: 13px solid transparent;
}

/* React CSS Transition Groups animations*/

/* Sprite animations*/
.sprite-enter {
  opacity: 0;
}

.sprite-enter.sprite-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.sprite-leave {
  opacity: 1;
}

.sprite-leave.sprite-leave-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

/* BG & textbox animations for scenery change */
.scene-enter {
  opacity: 0;
}

.scene-enter.scene-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.scene-leave {
  opacity: 1;
}

.scene-leave.scene-leave-active {
  opacity: 0;
  transition: opacity 1700ms ease-in;
}

/* choice */

.overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.overlay-choices {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay .choice-button {
  font-size: 26px;
  width: 750px;
  margin: 30px auto;
  border-radius: 25px;
  background-color: #222;
  border: none;
  color: white;
  padding: 12px 0px;
  cursor: pointer;
  display: block;
}

@media only screen and (max-width: 833px) {
  .overlay .choice-button {
    padding: 10px 0px;
    font-size: 20px;
    width: 90%;
  }
}

/* Add a background color on hover */
.overlay .choice-button:hover {
  background-color: white;
  color: #222;
}

.text-log-overlay {
  overflow: auto;
  margin: auto;
  height: 95%;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-log {
  box-sizing: border-box;
  background-color: #eee;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#ddd 2px, transparent 2px);
  background-size: 100% 33.33%;
  font-size: 22px;
  width: 100%;
  height: 104px;
  padding-top: 3px;
  line-height: 1.52;
  padding-left: 93px;
}

.text-log-speaker {
  font-weight: 500;
  color: DarkGreen;
}

.menu-buttons {
  position: relative;
  top: 740px;
  width: 100%;
  float: left;
}

.menu-buttons button {
  background-color: #22c39b;
  border: 1px solid #1b9878;
  color: white;
  padding: 8px;
  cursor: pointer;
  font-size: 18px;
}

@media only screen and (max-width: 790px) {
  .menu-buttons button {
    margin-top: 10px;
    font-size: 14px;
    padding: 8px 5px;
    float: none;
  }
}

.menu-buttons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.menu-buttons span {
  margin-right: 10px;
}

/* Add a background color on hover */
.menu-buttons button:hover {
  background-color: #1b9878;
  color: white;
}

.shown-button {
  float: right;
}
.hidden button {
  float: right;
  background-color: transparent;
  color: transparent;
  border: 1px solid transparent;
}
